<div class="portfolio-category">
    <nav>
        <ul>
            <li (click)="setActive('about')">
                <a [ngClass]="active == 'about' ? 'active' : ''" href="#about">About</a>
            </li>
            <li (click)="setActive('works')">
                <a [ngClass]="active  == 'works'? 'active' : ''" href="#works">Projects</a>
            </li>
            <li (click)="setActive('contact')">
                <a [ngClass]="active  == 'contact'? 'active' : ''" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
</div>

