<div class="portfolio-category">
    <nav>
        <ul>
            <li (click)="setActive('home')">
                <a routerLink="/home"  routerLinkActive="active" [ngClass]="active == 'home' ? 'active' : ''">About</a>
            </li>
            <!-- <li (click)="setActive('works')">
                <a routerLink="/podcast"  routerLinkActive="active" [ngClass]="active  == 'works'? 'active' : ''" href="#works">Podcast</a>
            </li> -->
            <li (click)="setActive('contact')">
                <a routerLink="/newsletter"  routerLinkActive="active" [ngClass]="active  == 'contact'? 'active' : ''">Letters</a>
            </li>
            <li (click)="setActive('book')">
                <a routerLink="/book"  routerLinkActive="active" [ngClass]="active  == 'book'? 'active' : ''">Bookshelf</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>


</div>

