<div class="contact-container" id="contact">
    <h2> Contact Me </h2>
    <div class="flex-wrapper">
        <div>
            <h4> <fa-icon [icon]="faPhone"></fa-icon></h4>
            <p> +61-412998365</p>
            <p> +91-8015643515</p>
        </div>
        <div>
            <h4> <fa-icon [icon]="faEnvelope"></fa-icon>           </h4>
            <p> thamizhtechie@gmail.com</p>
        </div>
    </div>
    <div class="flex-wrapper contact">
        <form action="https://formspree.io/xaypqbzv" method="post">
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Email" name="_replyto">
            <textarea type="text" placeholder="Message" name="message"></textarea>
            <button type="submit" class="primary-btn"> Send message</button>
        </form>
    </div>
</div>