<div class="contact-container" id="contact">
    <h2> Contact Me </h2>
    <h3> Want to connect with me directly? </h3>
    <div class="flex-wrapper">
        <div>
            <h4> <fa-icon [icon]="faPhone"></fa-icon></h4>
            <p> +61-412998365</p>
            <p> +91-8015643515</p>
        </div>
        <div>
            <h4> <fa-icon [icon]="faEnvelope"></fa-icon>           </h4>
            <p> thamizhtechie@gmail.com</p>
        </div>
    </div>
    <div class="flex-wrapper contact">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Your message">
        <button class="primary-btn"> Send message</button>
    </div>
</div>