<div class="workContainer fade-up" id="works">
    <h2> Projects</h2>
    <div class="flex-wrapper">
        <div class="workParts">
            <h2>OFX-Business Platform <a href="https://www.ofx.com/en-au/business/" target="_blank"><i class="fas fa-external-link-alt" style="color: white; font-size: small; margin-left: 10px;"></i></a></h2>
            <p>OFX after acquiring Paytron started to develop New Client Platform, I worked as a founding engineer to develop the new accounts payable platform. I also played a key role in several initiatives, including developing the Bills Platform, integrating Xero and QuickBooks accounting systems into the new client platform. </p>
            <p>Technologies: ReactJS, Node, AWS, React Native</p>
            <p>August 2023 - Present </p>
        </div>
        <div class="workParts">
            <h2>OFX-Okta Integration <a href="https://www.okta.com/en-au/customers/ofx/" target="_blank"><i class="fas fa-external-link-alt" style="color: white; font-size: small; margin-left: 10px;"></i></a></h2>
            <p>Played a key role in developing the Okta Integration for OFX. Updated all web and mobile apps login screens to use Okta. Built new migration API and also updated the OFX API to use Okta for authentication.</p>
            <p>Technologies: ReactJS, OKTA, Node, AWS, React Native</p>
            <p>June 2021 - July 2023 </p>
        </div>
        <div class="workParts">
            <h2>Woolworths Rewards <a href="https://www.everyday.com.au/" target="_blank"><i class="fas fa-external-link-alt" style="color: white; font-size: small; margin-left: 10px;"></i></a></h2>
            <p>Worked on migrating the Woolworths Rewards website to Angular from AngularJS. Played a key role in developing the new branding from woolworths rewards to everyday rewards. Worked on many key Features includes tracking the points, redeeming points and managing communication preferences. </p>
            <p>Technologies: AEM, Angular, SASS, Jenkins</p>
            <p>November 2019 - June 2021</p>
        </div>
        <div class="workParts">
            <h2>GOIT challenge</h2>
            <p>GOIT challenge is a quiz competition conducted by TCS in Australia for school students. This mobile app provides facility for student to take quiz, see leaderboard. I worked as sole developer to build the entire app from scratch from design to development to deployment. </p>
            <p>Technologies: Ionic, Angular, Firebase, Fastlane, Play Store</p>
            <p>April 2019 - November 2019 </p>
        </div>        
        <div class="workParts">
            <h2>Fresco Learn</h2>
            <p>Led a team of 3 developers to deliver gamified mobile and web learning applications with a CMS for course management.
                Collaborated with business teams to define requirements, created user stories, and managed Agile development processes.
                Designed and implemented responsive UIs and integrated analytics using libraries like Chartist and UnderscoreJS. </p>
            <p>Technologies: ReactJS, React Native, Jenkins </p>
            <p>February 2019 - April 2019</p>
        </div>
        <div class="workParts">
            <h2>Fresco Docs</h2>
            <p>A file sharing app similar to Dropbox/google drive within the enterprise allowing people to create, share any type of files and folder with various permission level.</p>
            <p>Technologies: Angular, React Native, HTML5, S3, Jenkins </p>
            <p>January 2018- January 2019</p>
        </div>
        <div class="workParts">
            <h2>Fresco Talk</h2>
            <p> Messaging app similar to Teams, Slack - providing facilities to chat, create channels, group, schedule call and search. </p>
            <p>Technologies: ReactJS, Redux, Saga, Web Socket </p>
            <p>June 2016 - December 2017</p>
        </div>
        <div class="workParts">
            <h2>Fresco Apps</h2>
            <p> Developed a static website for an enterprise app store similar to the Play Store</p>
            <p>Technologies: AngularJS, HTML5, S3, Sass, Bootstrap, Grunt, Git, Jenkins, Bower</p>
            <p>April 2016 - June 2016</p>
        </div>
        <div class="workParts">
            <h2>Citiplanner Citibank</h2>
            <p>Developed the UI for Citibank’s wealth management application enabling portfolio management and investment tracking.</p>
            <p>Technologies: HTML5, CSS3, JavaScript, jQuery, ChartJS </p>
            <p>August 2015 - April 2016</p>
        </div>
    </div>
</div>

