<div class="workContainer fade-up" id="works">
    <h2> Projects</h2>
    <div class="flex-wrapper">
        <div class="workParts">
            <h2>Woolworths Rewards</h2>
            <p>It is a loyalty site of Woolworths, the biggest supermarket chain in Australia. Features includes tracking the points earned, redeem points and managing offer preferences.   </p>
            <p>Technologies: AEM, Angular, SASS, Jenkins</p>
            <p>Duration: 8 Months</p>
        </div>
        <div class="workParts">
            <h2>GOIT challenge</h2>
            <p>GOIT challenge is a quiz competition conducted by TCS in Australia for school students. This mobile app provides facility for student to take quiz, see leaderboard. </p>
            <p>Technologies: Ionic, Angular, Cordova, GCP</p>
            <p>Duration: 6 Months</p>
        </div>
        <div class="workParts">
            <h2>Fresco Docs</h2>
            <p>A file sharing app similar to Dropbox, drive within the enterprise allowing people to create, share anytype of files and folder with various permission level.</p>
            <p>Technologies: AngularJS, React Native, HTML5, S3, Jenkins </p>
            <p>Duration: 12 Months</p>
        </div>
        <div class="workParts">
            <h2>Fresco Talk</h2>
            <p> Messaging app similar to Teams, Slack - providing facilities to chat, create channels, group, schedule call and search. </p>
            <p>Technologies: ReactJS, Redux, Saga, Socket, S3 </p>
            <p>Duration: 18 Months</p>
        </div>
        <div class="workParts">
            <h2>Fresco Play</h2>
            <p> Enterprise grade gamified learning app that mini course and quiz. User can track their learning and also earns points.</p>
            <p>Technologies: ReactJS, Redux, Styled Components </p>
            <p>Duration: 10 Months</p>
        </div>
        <div class="workParts">
            <h2>Fresco Data</h2>
            <p> Fresco is a suite of application for enterprise collaboration and learning. Fresco data provides real time usage, user details and statistics data enabling CXO to take decisions.</p>
            <p>Technologies: AngularJS, ChartJS </p>
            <p>Duration: 3 Months</p>
        </div>
    </div>
</div>

