<div class="workContainer fade-up" id="works">
    <h2> A reader lives a thousand lives before he dies, the man who never reads lives only one</h2>
    <p> My bookshelf is a work in progress </p>
    <p> These books shaped who I am today </p>
    <div class="flex-wrapper">
        <div class="workParts">
            <h2>Atomic habits</h2>
            <p> James Clear </p>
        </div>
        <div class="workParts">
            <h2>Steve jobs</h2>
            <p> Walter Isaacson </p>
        </div>
        <div class="workParts">
            <h2>You can win</h2>
            <p> Shiv Khera </p>
        </div>
        <div class="workParts">
            <h2>The monk who sold his ferrari</h2>
            <p> Robin Sharma</p>
        </div>
        <div class="workParts">
            <h2>How to be a capitalist without any capital</h2>
            <p> Nathan Latka </p>
        </div>
        <div class="workParts">
            <h2>Bad blood</h2>
            <p> John Carreyrou </p>
        </div>
        <div class="workParts">
            <h2>Stories for work</h2>
            <p> Gabrielle Dolan </p>
        </div>
        <div class="workParts">
            <h2>How to think like an entrepreneur</h2>
            <p> Philip Delves Broughton </p>
        </div>
        <div class="workParts">
            <h2>Why the rich are getting richer</h2>
            <p> Robert Kiyosaki </p>
        </div>
        <div class="workParts">
            <h2>Rich dad poor dad</h2>
            <p> Robert Kiyosaki </p>
        </div>
        <div class="workParts">
            <h2>The Billionaire raj</h2>
            <p> James Crabtree</p>
        </div>
        <div class="workParts">
            <h2>The 5AM club</h2>
            <p> Robin Sharma</p>
        </div>
        <div class="workParts">
            <h2>Sapiens</h2>
            <p> Yuval Noah Harari </p>
        </div>
        <div class="workParts">
            <h2>The millionaire fastlane</h2>
            <p> M J DeMarco </p>
        </div>
        <div class="workParts">
            <h2>CEO next door</h2>
            <p> Elena Botelho </p>
        </div>
        <div class="workParts">
            <h2>The greatness guide</h2>
            <p> Robin Sharma </p>
        </div>
        <div class="workParts">
            <h2>Five Point Someone</h2>
            <p> Chetan Bhagat </p>
        </div>
        <div class="workParts">
            <h2>The 3 mistakes of my life</h2>
            <p> Chetan Bhagat </p>
        </div>
        <div class="workParts">
            <h2>Revolution 2020</h2>
            <p> Chetan Bhagat </p>
        </div>
        <div class="workParts">
            <h2>One night at the call center</h2>
            <p> Chetan Bhagat </p>
        </div>
        <div class="workParts">
            <h2>Half girlfriend</h2>
            <p> Chetan Bhagat </p>
        </div>
    </div>
</div>

