<div class="skillsContainer">

    <div class="skillsParts">
        <h2>Web</h2>
        <p>ReactJS</p>
        <p>Angular 9</p>
        <p>AngularJS</p>
        <p>AEM</p>
    </div>
    <div class="skillsParts">
        <h2>Mobile</h2>
        <p>React Native</p>
        <p>Ionic </p>
    </div>

    <div class="skillsParts">
        <h2>Backend/Devops</h2>
        <p>NodeJS</p>
        <p>Jenkins</p>
        <p>Firebase</p>
        <p>AWS S3 </p>
        <p>AWS Lambda</p>
        <p>AWS Cloudfront</p>
    </div>

</div>
