<div class="introContainer" id="about">
    <h1> Hello, I'm <span class="highlight">Thamizhselvan Murugesan </span> </h1>
    <h2> I develop web and mobile applications </h2>
    <div class="newsletterContainer">
        <h3> Subscribe to my weekly newsletter</h3>
        <p> I write about Tech, Startups and Money </p>
        <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
        <div class="newsletterInput">
            <input type="text" class="inputEmail" placeholder="Your Email">
            <div class="subscribeBtnContainer">
                <button class="subscribeBtn"> Subscribe</button>       
            </div>
        </div>
    </div>
</div>

