<div class="introContainer" id="about">
    <h1 class="fade-up"> Hello, I'm <span class="highlight">Thamizhselvan Murugesan </span> </h1>
    <h2 class="fade-up"> I develop web and mobile applications </h2>
    <div class="newsletterContainer fade-up">
        <h3> Subscribe to my weekly newsletter</h3>
        <p> I write about Tech, Startups and Money </p>
        <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
        <div class="newsletterInput">
            <form action="https://thamizh.us18.list-manage.com/subscribe/post" method="POST">
                <input type="hidden" name="u" value="f19b1075a1a27972014750d9b">
                <input type="hidden" name="id" value="f4529ff4af">
                <input type="text" name="MERGE0" value="" class="inputEmail" placeholder="Your Email">
                <div class="subscribeBtnContainer">
                    <button type="submit" class="subscribeBtn"> Subscribe</button>       
                </div>
            </form>
        </div>
    </div>
</div>

