    <div class="wrapper">
        <div>
            <h2> Tech Money Startup - volume 1 - May 2020</h2>
            <p> The rise of DENO</p>
            <p> Selling Jio shares to meet oil loss </p>
            <p> Party over in Indian Startups </p>
            <a href="https://mcusercontent.com/f19b1075a1a27972014750d9b/files/b942c26b-7fef-4672-8559-357cfa8e640c/TechStartupMoney_V1_compressed.pdf" target="_blank" download>Download</a>
        </div>
        <div>
            <h2> Tech Money Startup - volume 2 - May 2020 </h2>
            <p> GRAPHQL OVER REST API</p>
            <p> AMAZON IS EATING THE WORLD </p>
            <p> BYTEDANCE'S STUNNING PERFORMANCE </p>
            <a href="https://mcusercontent.com/f19b1075a1a27972014750d9b/files/060d91b3-c8a7-4708-9251-cd713eed64e4/vol2_THAMIZHSELVAN_mURUGESAN_S_tECH_sTARTUP_mONEY_compressed.pdf" target="_blank" download>Download</a>
        </div>
        <div>
            <h2> Tech Money Startup - volume 3 - June 2020 </h2>
            <p> DESIGN SYSTEMS IN 2020</p>
            <p> DUNZO AND 4X REVENUE GROWTH </p>
            <p> WHY SHARE
                MARKET IS SO
                HIGH IN THIS
                DISASTER TIME </p>
            <a href="https://mcusercontent.com/f19b1075a1a27972014750d9b/files/bb84c451-4e39-4708-9f9e-9fc9721656f6/vol3_THAMIZHSELVAN_mURUGESAN_S_tECH_sTARTUP_mONEY_1_compressed.pdf" target="_blank" download>Download</a>
        </div>
    </div>

